.admin-sidebar {
  width: 85px;
  background: #fff;
  transition: width 0.3s ease;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  margin-top: 60px;
  z-index: 10000;
}

.admin-sidebar.open {
  width: 200px;
}

.admin-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 10px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
}

.sidebar-item:hover {
  background: #D1D6E0;
  border-radius: 10px;
}

.admin-icon {
  font-size: 18px;
  margin-right: 10px;
}

.admin-label {
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.dropdown-arrow {
  margin-left: auto;
  transition: transform 0.2s ease;
}

.dropdown-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  width: 100%;
  padding-left: 20px;
  
}

.dropdown-menu.open {
  max-height: 200px; /* Adjust based on your content */
  transition: max-height 0.3s ease-in;
}

.dropdown-item {
  padding-left: 30px !important;
  transition: background 0.2s ease;
  margin-top: 7px;
}

.dropdown-item:hover {
  background: #C1C6D0 !important;
  border-radius:10px ;
}

/* Active state */
.sidebar-item.active,
.dropdown-item.active {
  background: #B0B5C1;
  font-weight: bold;
  color: #0d53c4;
  border-radius: 10px;
}

/* Show labels when sidebar open */
.admin-sidebar.open .admin-label {
  opacity: 1;
}

/* Mobile responsive */
@media (max-width: 768px) {
  .admin-sidebar {
    transform: translateX(-100%);
    width: 100%;
  }

  .admin-sidebar.open {
    transform: translateX(0%);
    width: 100%;
  }
}
